<!---<p id="notice"><%= notice %></p>-->




   <div>
  <button class="btn btn-outline-secondary"><%= link_to 'Create New Blog', new_blog_path %></button>
  </div>

    <% @blogs.each do |blog| %>
    <div class="jumbotron">
      
        <h1><%= link_to blog.title, blog %></h1>
        <p> by<i> <%=link_to blog.user.name,blog.user%></i><p>
    
      
        <p><p>
        <%if user_signed_in? && current_user.id==blog.user_id%>
        <button class="btn btn-outline-secondary"><%= link_to 'Edit', edit_blog_path(blog) %></button>
        <button class="btn btn-outline-danger"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        <%end%>
    
      </div>
    <% end %>
 

<br>


