<!--<p id="notice"><%= notice %></p>-->
<div class="jumbotron">
<h1 class="text-center">
    <%=@blog.title%>
</h1>
<hr class="my-4">
<p>
    
    <%=@blog.content%>
</p>
<p class=text-right>
  <i> by <%= link_to @blog.user.name,@blog.user%><%=" "+@blog.created_at.strftime('%B %d, %Y')%></i>
</p>

<%if user_signed_in? && current_user.id==@blog.user_id%>
<button class="btn btn-outline-secondary"><%= link_to 'Edit', edit_blog_path(@blog) %></button> |
<%end%>
<button class="btn btn-outline-secondary">
<%= link_to 'Back', blogs_path %>
</button>

</div>


<div >
<h1 class="container text-center">Comments</h1>


 <%= form_for @new_comment,url:"/comment", class:"form-group shadow-textarea" do |f| %>

    <div class="field">
    
    <%=f.text_area :message ,class:"form-control z-depth-1",rows:3 ,placeholder:"Write something here..."%>
    </div>
    <%= f.hidden_field :blog_id, :value => @blog.id %>
    <%= f.hidden_field :user_id, :value => current_user.id if user_signed_in?%>
  <div class="actions text-right">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>

<!-- alert for comment empty-->
 <%if notice%>
  <p class="notice alert alert-danger"><%=flash[:alert] %></p>
  <%end%>


<ul class="list-group">
<% @comments.each do |comment| %>

<li class="list-group-item">
   
    
   <p><%=link_to comment.user.name,comment.user%><%="    "+ comment.created_at.strftime(' %H:%M , %B %d, %Y')%></p>
    <p><%=comment.message%> </p>
     <div class ="text-right">
    <%if user_signed_in? && current_user.id==comment.user_id%>
    <button class="btn btn-outline-primary"><%= link_to 'Delete', '/delete_comment/'+comment.id.to_s, method: :post %></button>
    <%end%>
    </div>

</li>
<%end%>
</ul>
</div>
<%#=current_user.name%>
   


