<p id="notice"><%= notice %></p>

   <div class=text-center>
   <h1> <%=@user.name.capitalize%></h1>
   </div>

<p>
    <strong>Email:</strong>
    <%=@user.email%>
    <%if user_signed_in? && (current_user.admin || @user.id==current_user.id)%>
<%= link_to 'Edit', edit_user_registration_path(@user),class:"btn btn-primary" %> |
<%= link_to 'Delete', @user,class:"btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>

</p>


<h1>Blogs : <%=@blogs.length if @blogs%></h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Created At</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
     <% @blogs.each do |blog| %>
      <tr>
        
        <td><%=link_to blog.title.capitalize(), blog %></td>
        <td><%=blog.created_at.strftime('%B %d, %Y')%></td>
        <%if user_signed_in? && (current_user.admin||current_user.id==blog.user_id)%>
        <td><%= link_to 'Edit', edit_blog_path(blog),class:"btn btn-primary" %></td>
        <td><%= link_to 'Delete', blog,class:"btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <%end%>
      </tr>
   
        
   
    <% end %>

  </tbody>
  </table>



