<nav class="navbar navbar-light bg-light">
  <%= link_to 'Blogs',root_path, class:"navbar-brand" %>
    <form>
    <% if user_signed_in? %>
    <div style="padding-left: 10px;">
    Logged in as <strong><%= current_user.name %></strong>
    
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-outline-primary' %> 
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-outline-success'  %>
    <%else%>
    <div style="padding-left: 10px;">
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    </div>
    <% end %>
    </form>
</nav>


 
  

